---
import Container from './Container.astro';
---

<article class="py-4 relative z-10 bg-white">
  <Container>
    <div class="flex lg:justify-between justify-center items-center uppercase leading-tight tracking-wide">
      <div class="text-center lg:text-left hidden lg:block">
        <p>code</p>
        <p class="text-secondaryColorDark">optimizer</p>
      </div>
      <div class="text-center lg:text-left hidden lg:block">
        <p>visual</p>
        <p class="text-secondaryColorDark">storyteller</p>
      </div>
      <div class="text-center lg:text-left hidden lg:block">
        <p>user</p>
        <p class="text-secondaryColorDark">oriented</p>
      </div>
      <div class="text-center lg:text-left block">
        <p>email me:</p>
        <p class="text-secondaryColorDark">
          <a class="lowercase" href="mailto:codedbyjessicadotcom@gmail.com"
            >codedbyjessicadotcom@gmail.com</a
          >
        </p>
      </div>
    </div>
  </Container>
</article>
